<!doctype html>
<html>

<head>
    <title>悄悄话</title>
    <link rel="stylesheet" href="public/css/index.css">
</head>

<body>
    <div class="head">
        <div class="welcome">
            亲爱的 <span class="username">{{ username }}</span>，<span id="saygood"></span>好 ^_^
        </div>
        <div class="usernum">
            当前用户数：<span id="usernum">1</span>
        </div>
        <!-- 设置按钮 -->
        <div class="set">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- 设置框 -->
    <div class="pop">
        <div class="setBox">
            <p>阅后即焚：</p>
            <div class="mt10">
                <input type="number" name="destroyTime" step="1" min="1" max="60" value="1" class="destroyTime" id="destroyTime">
                <label>
                    <input type="radio" name="destroyType" value="m"> 秒
                </label>
                <label>
                    <input type="radio" name="destroyType" value="f"> 分
                </label>
                <label>
                    <input type="radio" name="destroyType" value="n" checked="checked"> 不需要
                </label>
            </div>
            <div class="saveSet mt10">
                <button class="saveBtn" id="saveBtn">保存</button>
            </div>
        </div>
    </div>
    
    <!-- 消息列表 -->
    <ul id="messages">
        
    </ul>
    <!-- 输入框 -->
    <div>
        <form action="">
            <input id="msgInput" autocomplete="off" autofocus="autofocus"/>
            <button>Send</button>
        </form>
    </div>
    <!-- 消息提示 -->
    <div class="msgAlertBox">
        <audio src="public/video/newMsg.mp3"  preload="auto" id="msgAlert"></audio>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="public/js/index.js"></script>
</body>
</html>
